---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.26.1-standalone-strict/configmap-v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
data:
  bookmarks.yaml: |
    ---
    - self hosted:
        - Bitwarden:
            - icon: bitwarden
              href: https://bw.lac-coloc.fr
              description: "Password manager"
        - LibreNMS:
            - icon: librenms
              href: https://librenms.lac-coloc.fr
              description: "Network monitoring"
        - Bittorrent:
            - icon: qbittorrent
              href: https://bittorrent.lac-coloc.fr
              description: "BitTorrent client"
  docker.yaml: |
    ---
  kubernetes.yaml: |
    ---
    mode: cluster
    route: gateway
    gateway: "true"

  services.yaml: |
    ---

  settings.yaml: |
    ---
    title: Lac'coloc Apps
    theme: light
    color: slate
    headerStyle: boxedWidgets
    target: _blank
    layout:
      Home:
        style: row
        columns: 3
      selfhosted:
        style: row
        columns: 3
      Tools:
        style: row
        columns: 3
      Media:
        style: row
        columns: 3
      Monitoring:
        style: row
        columns: 3
      Random:
        style: row
        columns: 3
    quicklaunch:
      searchDescription: true
      hideInternetSearch: true
      hideVisitURL: true

  widgets.yaml: |
    - openmeteo:
        label: Paris
        latitude: 48.8534100
        longitude: 2.3488000
        timezone: Europe/Paris
        units: metric
        cache: 5
        maximumFractionDigits: 1
    - kubernetes:
        cluster:
          cpu: true
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: false
          showLabel: true
    - search:
        provider: custom
        url: https://kagi.com/search?q=
        target: _blank
        suggestionUrl: https://kagi.com/api/autosuggest?q=
        showSearchSuggestions: true
