---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: cluster-1
  namespace: cnpg-system
spec:
  instances: 3
  enableSuperuserAccess: false
  storage:
    size: 20Gi
  managed:
    roles:
    - name: grafana
      ensure: present
      login: true
      passwordSecret:
        name: grafana-db-secret
    - name: miniflux
      ensure: present
      login: true
      passwordSecret:
        name: miniflux-db-secret
    - name: paperless
      ensure: present
      login: true
      passwordSecret:
        name: paperless-db-secret
    - name: jellystat
      ensure: present
      login: true
      passwordSecret:
        name: jellystat-db-secret
  backup:
    barmanObjectStore:
      destinationPath: "s3://backup-k8s-psql-default"
      endpointURL: "https://s3-mdz.lac-coloc.fr"
      s3Credentials:
        accessKeyId:
          name: s3-psql-default
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: s3-psql-default
          key: ACCESS_SECRET_KEY
      data:
        compression: bzip2
      wal:
        compression: bzip2
    retentionPolicy: "30d"
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: immich-default
spec:
  schedule: "11 12 3 * *"
  backupOwnerReference: self
  cluster:
    name: cluster-1
