controllers:
  main:
    containers:
      main:
        image:
          repository: ghcr.io/immich-app/immich-server
          tag: v2.4.1
        env:
          REDIS_HOSTNAME: dragonfly.dragonfly.svc.cluster.local
          REDIS_PORT: "6379"
          REDIS_DBINDEX: "2"
          DB_HOSTNAME: immich-postgres-rw
          DB_USERNAME: immich
          DB_DATABASE_NAME: immich
          DB_PASSWORD:
            valueFrom:
              secretKeyRef:
                name: immich-db-secret
                key: password

immich:
  metrics:
    enabled: true
  persistence:
    library:
      existingClaim: immich-library-pvc

server:
  enabled: true
  image:
    repository: ghcr.io/immich-app/immich-server
    tag: v2.4.1
    pullPolicy: IfNotPresent
  ingress:
    main:
      enabled: false

machine-learning:
  enabled: true
  image:
    repository: ghcr.io/immich-app/immich-machine-learning
    tag: v2.4.1
    pullPolicy: IfNotPresent
  env:
    TRANSFORMERS_CACHE: /cache
  persistence:
    cache:
      enabled: true
      size: 20Gi
      type: persistentVolumeClaim
      accessMode: ReadWriteOnce
