controllers:
  lidarr:
    containers:
      app:
        image:
          repository: lscr.io/linuxserver/lidarr
          tag: 3.1.2-nightly
        env:
          TZ: Europe/Paris
          PUID: "1000"
          PGID: "1000"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 8686
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 5
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
            memory: 250Mi
          limits:
            memory: 2Gi

defaultPodOptions:
  annotations:
    backup.velero.io/backup-volumes-excludes: data,data2
  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: lidarr
    ports:
      http:
        port: 8686

persistence:
  config:
    suffix: config
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    globalMounts:
      - path: /config
  data:
    type: persistentVolumeClaim
    existingClaim: nfs-media-pvc-2
    globalMounts:
      - path: /data
        subPath: data
  data2:
    type: persistentVolumeClaim
    existingClaim: nfs-media-pvc
    globalMounts:
      - path: /data2
        subPath: data
