controllers:
  prowlarr:
    containers:
      app:
        image:
          repository: lscr.io/linuxserver/prowlarr
          tag: 2.3.2-nightly
        env:
          TZ: Europe/Paris
          PUID: "1000"
          PGID: "1000"
          UMASK: "002"
        probes:
          liveness: &probes
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /ping
                port: 9696
              initialDelaySeconds: 30
              periodSeconds: 10
              timeoutSeconds: 5
              failureThreshold: 3
          readiness: *probes
        resources:
          requests:
            cpu: 10m
            memory: 250Mi
          limits:
            memory: 1Gi

defaultPodOptions:
  securityContext:
    runAsNonRoot: false
    runAsUser: 0
    fsGroup: 1000
    fsGroupChangePolicy: OnRootMismatch

service:
  app:
    controller: prowlarr
    ports:
      http:
        port: 9696

persistence:
  config:
    suffix: config
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 2Gi
    globalMounts:
      - path: /config
