# https://budimanjojo.github.io/talhelper/latest/
# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/refs/heads/master/pkg/config/schemas/talconfig.json

clusterName: &cluster dorado
endpoint: https://10.243.2.55:6443
allowSchedulingOnMasters: true

talosVersion: "v1.12.0"
kubernetesVersion: "v1.35.0"

clusterPodNets:
  - 100.64.0.0/16
  - fd86:d8e7:4cef::/56
clusterSvcNets:
  - 100.80.0.0/12
  - fd86:3864:ad47::/112

nodes:
  - hostname: m1
    controlPlane: true
    ipAddress: 10.243.2.58
    installDisk: /dev/mmcblk1
    networkInterfaces:
      - interface: enP4p65s0
        addresses:
          - 10.243.2.58/24
        routes:
          - network: "::/0"
            gateway: "fe80::1"
          - network: "0.0.0.0/0"
            gateway: "10.243.2.254"
    machineSpec:
      mode: metal
      arch: arm64
    schematic:
      overlay:
        name: orangepi-5-plus
        image: siderolabs/sbc-rockchip
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/nvme-cli
            - siderolabs/util-linux-tools
            - siderolabs/iscsi-tools
  - hostname: m2
    controlPlane: true
    ipAddress: 10.243.2.56
    installDisk: /dev/mmcblk1
    networkInterfaces:
      - interface: enP4p65s0
        addresses:
          - 10.243.2.56/24
        routes:
          - network: "::/0"
            gateway: "fe80::1"
          - network: "0.0.0.0/0"
            gateway: "10.243.2.254"
    machineSpec:
      mode: metal
      arch: arm64
    schematic:
      overlay:
        name: orangepi-5-plus
        image: siderolabs/sbc-rockchip
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/nvme-cli
            - siderolabs/util-linux-tools
            - siderolabs/iscsi-tools
  - hostname: m3
    controlPlane: true
    ipAddress: 10.243.2.57
    installDisk: /dev/mmcblk1
    networkInterfaces:
      - interface: enP4p65s0
        addresses:
          - 10.243.2.57/24
        routes:
          - network: "::/0"
            gateway: "fe80::1"
          - network: "0.0.0.0/0"
            gateway: "10.243.2.254"
    machineSpec:
      mode: metal
      arch: arm64
    schematic:
      overlay:
        name: orangepi-5-plus
        image: siderolabs/sbc-rockchip
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/nvme-cli
            - siderolabs/util-linux-tools
            - siderolabs/iscsi-tools
  - hostname: w1
    controlPlane: false
    ipAddress: 10.243.2.25
    installDisk: /dev/sda
    networkInterfaces:
      - interface: eth0
        addresses:
          - 10.243.2.25/24
        routes:
          - network: "::/0"
            gateway: "fe80::1"
          - network: "0.0.0.0/0"
            gateway: "10.243.2.254"
    machineSpec:
      mode: nocloud
      arch: amd64
    schematic:
      customization:
        systemExtensions:
          officialExtensions:
            - siderolabs/qemu-guest-agent
            - siderolabs/nvme-cli
            - siderolabs/util-linux-tools
            - siderolabs/iscsi-tools

worker:
  nodeLabels:
    topology.kubernetes.io/region: Paris
    topology.kubernetes.io/zone: *cluster

controlPlane:
  nodeLabels:
    topology.kubernetes.io/region: Paris
    topology.kubernetes.io/zone: *cluster
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - "siderolabs/nvme-cli"
          - "siderolabs/util-linux-tools"
          - "siderolabs/iscsi-tools"

patches:
  - |-
    cluster:
      network:
        cni:
          name: none
      proxy:
        disabled: true
    machine:
      kubelet:
        extraArgs:
          rotate-server-certificates: true
      network:
        kubespan:
          enabled: false
        nameservers:
          - 10.243.3.254
          - 10.241.2.254
