apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mealie

resources:
  - ingress.yaml
  - secrets.yaml

helmCharts:
  - name: app-template
    repo: https://bjw-s-labs.github.io/helm-charts/
    version: 4.6.1
    releaseName: mealie
    namespace: mealie
    valuesFile: values.yaml
