controllers:
  node-red:
    pod:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: "OnRootMismatch"

    containers:
      app:
        image:
          repository: nodered/node-red
          tag: 4.1.3
        env:
          TZ: Europe/Paris
          NODE_RED_ENABLE_PROJECTS: "true"
        probes:
          liveness:
            enabled: true
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /
                port: 1880
              initialDelaySeconds: 0
              periodSeconds: 10
              timeoutSeconds: 1
              failureThreshold: 3
        resources:
          requests:
            cpu: 50m
            memory: 256M
          limits:
            memory: 512M

service:
  app:
    ports:
      http:
        port: 1880

persistence:
  data:
    suffix: data
    type: persistentVolumeClaim
    storageClass: ceph-block
    accessMode: ReadWriteOnce
    size: 5Gi
    advancedMounts:
      node-red:
        app:
          - path: /data
