env:
  TZ: UTC

service:
  main:
    enabled: true
    ports:
      http:
        port: 4000
  dns:
    enabled: true
    type: LoadBalancer
    ports:
      dns-tcp:
        enabled: true
        port: 53
        protocol: TCP
        targetPort: 53
      dns-udp:
        enabled: true
        port: 53
        protocol: UDP
        targetPort: 53
  dns-tcp:
    enabled: false
    type: ClusterIP
    externalTrafficPolicy: Local
    ports:
      dns-tcp:
        enabled: true
        port: 53
        protocol: TCP
        targetPort: 53
  dns-udp:
    enabled: false
    type: ClusterIP
    externalTrafficPolicy: Local
    ports:
      dns-udp:
        enabled: true
        port: 53
        protocol: UDP
        targetPort: 53


metrics:
  enabled: true

redis:
  enabled: false

config: |
  upstream:
    # these external DNS resolvers will be used. Blocky picks 2 random resolvers from the list for each query
    # format for resolver: [net:]host:[port][/path]. net could be empty (default, shortcut for tcp+udp), tcp+udp, tcp, udp, tcp-tls or https (DoH). If port is empty, default port will be used (53 for udp and tcp, 853 for tcp-tls, 443 for https (Doh))
    # this configuration is mandatory, please define at least one external DNS resolver
    default:
      - "https://dns.cloudflare.com/dns-query"
      - "https://1.1.1.1/dns-query"
      - "https://1.0.0.1/dns-query"
      - "https://dns.google/dns-query"

  # optional: timeout to query the upstream resolver. Default: 2s
  upstreamTimeout: 2s
  conditional:
    fallbackUpstream: false
  # optional: use black and white lists to block queries (for example ads, trackers, adult pages etc.)
  blocking:
    # definition of blacklist groups. Can be external link (http/https) or local file
    denylists:
      ads:
        - https://s3.amazonaws.com/lists.disconnect.me/simple_ad.txt
        - https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts
        - http://sysctl.org/cameleon/hosts
        - https://s3.amazonaws.com/lists.disconnect.me/simple_tracking.txt
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/hosts/pro.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/hosts/tif.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/anti.piracy-onlydomains.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/wildcard/popupads.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/hosts/native.amazon.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/hosts/native.apple.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/hosts/native.tiktok.txt"
        - "https://cdn.jsdelivr.net/gh/hagezi/dns-blocklists@latest/hosts/native.winoffice.txt"
        - |
          # inline definition with YAML literal block scalar style
          # hosts format
          someadsdomain.com
    allowlists:
      ads:
        - |
          dealabs.digidip.net
          subsplease.org
          nyaa.si
          acg.rip
          share.dmhy.org
          click.discord.com
          1337x.to
          rarbg.to
          torrent9.to
          la-cale.space
          torr9.com
    clientGroupsBlock:
      # default will be used, if no special definition for a client name exists
      default:
        - ads
        - special
    blockType: zeroIp
    blockTTL: 10s
    refreshPeriod: 4h
    downloadTimeout: 4m
    downloadAttempts: 5
    downloadCooldown: 10s
    failStartOnListError: false

  # optional: configuration for caching of DNS responses
  caching:
    minTime: 10s
    maxTime: 10m
    maxItemsCount: 0
    prefetching: true
    prefetchExpires: 2h
    prefetchThreshold: 5
    prefetchMaxItemsCount: 0

  prometheus:
    enable: true
    path: /metrics

  port: 53
  # optional: Port for DoT (DNS-over-TLS) listener. Example: 853, 127.0.0.1:853
  #tlsPort: 53
  # optional: HTTPS listener port and bind ip address, default empty = no http listener. If > 0, will be used for prometheus metrics, pprof, REST API, DoH... Example: 443, :443, 127.0.0.1:443
  httpPort: 4000
  #httpsPort: 443
  # mandatory, if https port > 0: path to cert and key file for SSL encryption
  #certFile: server.crt
  #keyFile: server.key
  bootstrapDns: tcp+udp:1.1.1.1
  disableIPv6: false
  logLevel: info
  logFormat: text
  logTimestamp: true
  logPrivacy: false
